@import "tailwind.css";

body,
html,
#root {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  place-items: flex-start;
  overflow-y: scroll;
}

#root {
  flex: 1;
  height: 100%;
}
