@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  @apply bg-gray-900 text-slate-50;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  place-items: flex-start;
  overflow-y: scroll;
}

a {
  text-decoration: inherit;
  @apply font-medium;
  @apply text-purple-400;
}
a:hover {
  @apply text-purple-300;
}

h1 {
  @apply text-3xl;
  line-height: 1.1;
}

button {
  font-family: inherit;
  @apply font-medium;
  @apply bg-purple-600 hover:bg-purple-700 text-white rounded;
  @apply rounded-lg border border-solid border-transparent py-2 px-4 focus:outline-none focus:ring-2 focus:ring-white;
  @apply transition-colors duration-300 ease-in-out;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
